@model IEnumerable<ProjetoCRUDSMC.Models.Venda>

@{
    ViewData["Title"] = "Index";
    decimal total = Model.Sum(item => item.ValorTotal);
}


<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #3498db;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2, h3 {
            color: #3498db;
        }

        p {
            line-height: 1.6;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        td {
            border: 1px solid #ddd;
            color: #3498db;
            padding: 8px;
            text-align: left;
        }

        th {
            color: blue;
            text-align:left;
            padding: 8px;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .value-box{
            border: 2px solid #3498db;
            padding: 15px;
            border-radius: 8px;
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 20px;
            margin-left: auto
        }

</style>

<header>
    <h1>Supermercado SMC</h1>
</header>

<main>
    <h2>Vendas</h2>
    
    <p>
        <a role="button" class="btn btn-primary" asp-action="Create">Novo</a>
    </p>

    <div class="value-box" id="total">
        Valor total das vendas: @total.ToString("C")
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeProduto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                        <a role="button" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<footer>
    &copy; 2024 Supermercado SMC. Todos os direitos reservados.
</footer>